*{
	box-sizing: border-box;
	text-decoration: none;
	font-family: sans-serif;
	font-size: 14px;
}

body {
	width: 100%;
	min-height: 100vh;
	background: rgb(250,250,250);
	display: flex;
	margin: auto;
}

.instagram-wrapper {
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.instagram-phone {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 170px;
	margin-right: 34px;
	
}

.instagram-container {
	height: 380px;
	width: 350px;
	background-color: white;
	border: 1px solid rgb(219,219,219);
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-bottom: 425px;
}

.instagram-logo {
	margin-top: 31px;
	margin-right: 5px;
	margin-bottom: 21px;
}

.username-label {
	display: flex;
	background-color: rgb(250,250,250);
	border: 1px solid rgb(219,219,219);
	border-radius: 3px;
	width: 270px;
	height: 39px;
	margin-bottom: 7px;
}

.username {
	display: flex;
	color: rgb(142,142,142);
	font-size: 11px;
	align-items: center;
	margin-left: 7px;
	margin-top: 3px;
}

.password-label {
	display: flex;
	background-color: rgb(250,250,250);
	border: 1px solid rgb(219,219,219);
	border-radius: 3px;
	width: 270px;
	height: 39px;
	margin-bottom: 7px;
}

.password {
	display: flex;
	color: rgb(142,142,142);
	font-size: 11px;
	align-items: center;
	margin-left: 7px;
	margin-top: 3px;
}

.instagram-entrar {
	display: flex;
	background-color: rgb(178,223,252);
	border-radius: 3px;
	width: 270px;
	height: 29px;
	margin-top: 7px;
}

.entrar {
	display: flex;
	background-color: rgb(178,223,252);
	color: white;
	font-size: 11px;
	align-items: center;
	margin: auto;
}

.ou {
	display: flex;
	color: rgb(142,142,142);
	font-size: 16px;
	align-items: center;
	margin-bottom: 20px;
	margin: auto;
}

.facebook {
	display: flex;
	flex-direction: row;
}

.facebook-icon {
	display: flex;
	flex-direction: row;
	margin-right: 7px;
}

.facebook-login {
	display: flex;
	flex-direction: row;
}