@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap');

*{
	margin: 0;
	padding: 0;
	text-align: center;
	box-sizing: border-box;
	font-family: verdana;
}

body {
	background-color: #9DB5f5;
	margin: auto;
	color: white;
	height: 100vh;
	width: 100%;
}

img {
	max-width: 600px;
	border-radius: 30px;
}

button {
	border: 0;
	font-size: 1.2rem;
	font-weight: 500;
	padding: 16px;
	background: orangered;
	color: white;
	margin: 20px 0;
	cursor: pointer;
	transition: all 0.5s ease-in-out;
}

button:hover {
	background: orange;
}