*{
	margin: 0;
	padding: 0;
	text-align: center;
	box-sizing: border-box;
	font-family: verdana;
}

body {
	background-color: #E3C565;
	margin: auto;
	color: #0A6522;
	height: 100vh;
	width: 100%;
}

h1 {
	padding-top: 25px;
}

body .container {
	align-items: center;
	margin-top: 20px;
}

body .container .phrase {
	margin-top: 20px;
}

body .container .sequence {
	margin-top: 15px;
	outline: none;
	border: none;
	border-radius: 3px;
}

body .container input {
	outline: none;
	border: none;
	border-radius: 3px;
}

body .container button {
	margin-bottom: 25px;
	margin-top: 15px;
	outline: none;
	width: 30px;
	height: 25px;
}
