*{
	margin: 0;
	padding: 0;
	text-align: center;
	box-sizing: border-box;
	font-family: verdana;
}

body {
	background-color: #EE99AB;
	margin: auto;
	color: white;
	height: 100vh;
	width: 100%;
}

.list-container {
	margin: 120px auto;
	max-width: 400px;
	width: 100%;
	background: #9DB5f5;
	border-radius: 5px;
	padding: 25px;
	color: black;
}

.list-container header {
	font-size: 30px;
	font-weight: 600;
	text-decoration: line-through;
	color: green;
}

.list-container .list-add {
	display: flex;
	height: 45px;
	width: 100%;
	margin: 20px 0;
}

.list-add input {
	outline: none;
	width: 85%;
	height: 100%;
	border: 1px solid #CCC;
	font-size: 17px;
	border-radius: 3px;
	padding-left: 15px;
	/*opacity: 0.75;*/
	pointer-events: auto;
}

list-add input.active {
	/*opacity: 1;*/
	pointer-events: auto;
}

.list-add button {
	width: 60px;
	height: 100%;
	border: none;
	outline: none;
	background: #8E49E8;
	color: #FFF;
	font-size: 22px;
	cursor: pointer;
	border-radius: 5px;
	margin-left: 5px;
}

.list-container .list-todo {
	max-height: 250px;
	overflow-y: auto;
}

.list-todo li {
	list-style: none;
	height: 45px;
	line-height: 45px;
	position: relative;
	background: #445E9C;
	border-radius: 3px;
	margin-bottom: 8px;
	color: white;
	padding: 0 15px;
	cursor: default;
}

.list-todo li span {
	position: absolute;
	right: 0px;
	color: white;
	width: 45px;
	text-align: center;
	background: #E74C3C;
	border-radius: 0 3px 3px 0;
	cursor: pointer;
}

.list-container .footer {
	display: flex;
	width: 100%;
	align-items: center;
	margin-top: 20px;
	justify-content: space-between;
}

.footer button {
	border: none;
	outline: none;
	background: #8E49E8;
	color: #FFF;
	font-size: 16px;
	cursor: pointer;
	border-radius: 3px;
	padding: 6px 10px;
}